default.xex
/data/
/$SystemUpdate/
.pi
out
XenonRecomp
generated
.fable2_image.bin
*.png
*.ps1
*.py
rebuild.log
pi-session-2026-09-02T21-38-08-877Z_01a0640e-d56d-7264-9d4a-49c7ea0d56b1.html
nxeart
rebuild2.log
*.sh
build_userdata.log
4D5307F1
B13EBABEBABEBABE
achievements
